@model ToDo

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Delete Task </h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="TaskName"></label>
            <input asp-for="TaskName" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DueDate"></label>
            <input asp-for="DueDate" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="ExtraNotes"></label>
            <input asp-for="ExtraNotes" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="TaskPriority"></label>
            <input asp-for="TaskPriority" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Task" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


